node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.*
local.env
local.env.sample
docker-compose.local.yml
Dockerfile*
.dockerignore
coverage
.vscode
.idea
*.md
test
.prettierrc
.eslintrc*
eslint.config.mjs
.temp
.tmp
logs
*.log
